body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/assest/Images/Rick\ And\ Morty\ Windows\ Wallpaper🥃💥.jpg');
  opacity: 1;
}

/* .background {
  background-image: url('../src/assest/Images/Rick\ And\ Morty\ Windows\ Wallpaper🥃💥.jpg');
  opacity: 1;
  height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
